*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

    
}
.container{
    height: 100%;
    width: 100%;
    padding: 20px;
    background: #8ad9e6;
}
header{
    height: 100px;
    border: 2px solid red;
    background: #f0b4ef;
    background: linear-gradient(90deg,rgba(240, 180, 239, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    box-shadow: 15px 15px 10px rgb(114, 111, 111);
}
#box{
    margin: 50px 0px 0px 70px;
    height: 40px;
    width: 100px;
    background: rgb(102, 243, 8);
    font-weight: 900;
    text-align: center;
    align-content: center;
    border: 5px solid black;
    position: relative;
    animation: rightMovement 5s linear 1s infinite alternate ;
}
@keyframes rightMovement{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: 970px;
    }
}
.flex{
    height: 150px;
    margin: 4px;
    padding: 5x;
    display: flex;
    justify-content: space-between;
}
.img{
    padding: 5px;
    height: 70px;
    width: 70px;
}
#name{
    padding-top: 10px;
    font-size: xx-large;
}
.nav_list {
    display: flex;
    gap: 20px; /* Space between nav items */
    height: 90px;
    padding-right: 50px;
    
}

.nav_list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-content: center;
    align-content: center;
}

.main_container{
    display: flex;
}
.left{
    margin: 60px;
    /* margin-left: 50px; */
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(240, 171, 106);
    border: 2px solid black;
    width: 500px;
    box-shadow: -15px 15px 10px rgb(114, 111, 111);
    transition: box-shadow 10s 1s linear;
}
.left:hover{
    box-shadow: 15px -15px 10px rgb(178, 117, 236) ;
}
.details{
    margin: 10px;
    text-align: center;
}
.right{
    margin: 60px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(241, 234, 238);
    border: 2px solid black;
    width: 500px;
    box-shadow: -15px 15px 10px rgb(114, 111, 111);
   
}
.details img{
    margin-top: 110px;
    height: 500px;
    box-shadow: 15px 15px 10px rgb(231, 133, 133);
}
footer{
    text-align: center;
}
.cards{
    height: 250px;
    margin: 20px;
    padding: 20px;
    background: #EEAECA;background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: 2px solid greenyellow;
    display: flex;
    justify-content: space-around;
    align-content: center;
    box-shadow: 15px 15px 10px rgb(238, 169, 41);
}
.box{
    height: 170px;
    width: 200px;
    background-color: floralwhite;
    margin: 15px;
    text-align: center;
    align-content: center;
    line-height: 50px;
    box-shadow: 15px 15px 10px rgb(131, 129, 129);
}



