*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    flex: 1 1 200px;
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
        font-size: 1.2rem;
    }
}