*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: beige;
    border: 2px solid black;
    padding: 20px;
}
.box{
    height: 80px;
    width: 350px;
    margin: 10px;
    border: 2px solid black;
    background-color: beige;
    position: relative;
/*
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 2s;
    transition-timing-function: linear; */

    /* short hand notation */
    transition: all 5s 2s linear;
    
}
.box:hover{
    background-color: blue;
    height: 500px;
    width: 500px;
}