*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin: 20px;
    padding: 20px;
    border: 3px double black;
    background-color: blanchedalmond;
    height: 800px;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: left; */
    /* justify-content: right ; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* align-items: start; */
    /* align-items: center; */
    /* align-items: end; */
    /* align-content: start; */
    /* align-content: center; */
    /* align-content: end; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
}
.box{
    margin: 10px;
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 3px double black;
    
}
#box1{
    background-color: orange;
    /* align-self: flex-start; */
    /* align-self: center; */
    /* align-self: flex-end; */
}
#box2{
    background-color: blue;
    /* flex-basis: 300px; */
}
#box3{
    background-color: red;
    /* flex-shrink: 2; */
}
#box4{
    background-color: yellow;
    /* flex-grow: 4; */
}