*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: beige;
    border: 2px solid black;
}
.box{
    height: 80px;
    width: 350px;
    margin: 10px;
    border: 2px solid black;
    background-color: aqua;
    position: relative;
    /* animation-name: rightMovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: linear; */
    /* hort hand notataion */
    animation: rightMovement 5s linear 2s infinite, alternate ,backwards;
}
@keyframes rightMovement {
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: 950px;
    }
}