*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color:blanchedalmond;
    border: 0.1rem solid black ;
    margin-left: 20px;
    margin-right: 20opx;
}
h1{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* float
The float property is used for positioning and formatting content e.g. let an image float left to the text in a container.

The float property can have one of the following values:

left - The element floats to the left of its container
right - The element floats to the right of its container
none - The element does not float (will be displayed just where it occurs in the text). This is default
inherit - The element inherits the float value of its parent
In its simplest use, the float property can be used to wrap text around images. 
 */
#a{
    height: 300px;
    width: 300px;
    border: 3px solid black;
    margin: 20px;
    float: right;
}
p{
    margin: 20px;
    padding: 20px;
}
#a1{
    height: 300px;
    width: 300px;
    border: 3px solid black;
    margin: 20px;
    float: left;
}
#a11{
    height: 300px;
    width: 300px;
    border: 3px solid black;
    margin: 20px;
    float: right;
}
/* clear
When we use the float property, and we want the next element below (not on right or left), we will have to use the clear property.

The clear property specifies what should happen with the element that is next to a floating element.

The clear property can have one of the following values:

none - The element is not pushed below left or right floated elements. This is default
left - The element is pushed below left floated elements
right - The element is pushed below right floated elements
both - The element is pushed below both left and right floated elements
inherit - The element inherits the clear value from its parent
When clearing floats, you should match the clear to the float: If an element is floated to the left, then you should clear to the left. Your floated element will continue to float, but the cleared element will appear below it on the web page.

 */
#a2{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    margin: 20px;
    float: right;
}
#a21{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    margin: 20px;
    float: right;
    clear: right;
}
/* overflow
The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area.

The overflow property has the following values:

visible - Default. The overflow is not clipped. The content renders outside the element's box
hidden - The overflow is clipped, and the rest of the content will be invisible
scroll - The overflow is clipped, and a scrollbar is added to see the rest of the content
auto - Similar to scroll, but it adds scrollbars only when necessary
Note: The overflow property only works for block elements with a specified height.

Note: In OS X Lion (on Mac), scrollbars are hidden by default and only shown when being used (even though "overflow:scroll" is set).
 */
.containers{
    background-color:blanchedalmond;
    border: 0.1rem solid black ;
    margin: 50px;
    height: 500px;
    width: 500px;
    overflow: auto;
}
