
/* 
basic syntax:
selector{
style:value;
...
...
}
here selector can be element,id,class or group
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: pink;
    color: green;
    border: 2px dotted black;
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fpara{
    background-color: aqua;
    color: red;
    border-radius: 5px;
    border: 2px solid black;
    padding: 2px;
    margin: 10px;
}
.spara{
    background-color: rgb(45, 224, 9);
    color: rgb(247, 210, 4);
    border-radius: 5px;
    border: 2px double black;
    padding: 2px;
    margin: 10px;
}
button{
    background-color: blue;
    color: white;
    font-size: xx-large;
    font-weight: 100;
    border-radius: 10px;
    border: 2px solid yellow;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}